.searchbar{
    padding: 8px;
    text-align: center;
}
.container {
    background-color:rgb(236, 239, 243);
    max-width: 1200px;
    min-height: 100vh;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
  }
.searchbar input{
    margin-top: 0;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    border: 3px solid black;
} 
 .hr{
    border-bottom: 2px solid black;
    /* margin-bottom: 8px; */
}
.compname span{
    align-items:center;
    color: #ff0157;
    font-weight: 700;
    font-size:1.5em ;
}
.cocktaildata{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}
.cocktaildata img{
    width: 80%;
    height: 80%;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 15px;
    border: 2px solid rgb(246, 8, 155);
}
.text{
    text-align: center;
    font-weight: 300;
    font-size: medium;
}
.cocktaildata img:hover{
    transform: scale(0.9);
}
@media screen and (max-width:220px) {

 .cocktaildata{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style-type: none;
}
.cocktaildata img{
    width: 60%;
    height: 60%;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 5px;
}
}

